.input-field{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 40px;
    display: flex;
    justify-self: center;
    font-size: 20px;
    font-weight:5px;
    background-color: #95a7cd; 
}
.placeholder{
    color:White;
}