.product-card-conatainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    background-color: rgb(238, 238, 238);    
}

.product-card{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 7px;
    background-color: white;
}

.product-card:hover{
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
}

.product-image{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.product-card-title{
    font-size: 23px;
    font-weight:bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-card-subsentence{
     font-size: 20px;
     margin: 10px;
     color:rgb(96, 94, 94)
    
}
